@{
  Layout = "_Layout";
}

<h2>Welcome, Pierre</h2>
<h5>What would you like to do?</h5>
<br>
<p><a href="/vendors/new">Add a new vendor</a></p>
<p><a href="/vendors">Add a new order</a></p>
<p><a href="/vendors">View all vendors</a></p>
<p><a href="/vendors">Update an invoice status</a></p>