@{
  Layout = "_Layout";
}

<h2>Welcome, Pierre</h2>
<h5>What would you like to do?</h5>

<a href="/vendors/new">Add a new Vendor</a>
<br>
<a href="/vendors">Add a new Order</a>
<br>
<a href="">Update an invoice status</a>