@{
  Layout = "_Layout";
}

<h3>This order has been deleted</h3>

<p><a href='/vendors/@Model.Id'>Return to @Model.Name</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to main page</a></p>