@{
  Layout = "_Layout";
}

<h3>Add a new order for @Model.Name</h3>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="title">Order Title</label>
  <input id="title" name="title" type="text">
  <br>
  <label for="date">Order Date</label>
  <input id="date" name="date" type="text">
  <br>
  <label for="pastryCount">Pastry Quantity</label>
  <input id="pastryCount" name="pastryCount" type="number">
  <br>
  <label for="breadCount">Bread Quantity</label>
  <input id="breadCount" name="breadCount" type="number">
  <br>
  <input type="radio" name="orderStatus" value="UNPAID" checked>
    Unpaid
  </label>
  <label>
    <input type="radio" name="orderStatus" value="PAID">
    Paid
  </label>
  <br>
  <button type='submit'>Add order</button>
</form>
<br>
<p><a href='/vendors/@Model.Id'>Cancel new order</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to main page</a></p>